<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Courses</title>
    </head>
    <body>
    	<h2 th:text="'Login as ' + ${#httpServletRequest.remoteUser}"> Login as</h2>
    	<form th:action="@{/logout}" method="post">
		    <input type="submit" value="Sign Out"/>
		</form>
        <h1>All Students</h1>
        
    	<div th:each="course,iterationStatus: ${courses}">
            <h3 th:text="'ID = ' + ${course.idCourse}">Student NPM</h3>
	       	<h3 th:text="'Nama = ' + ${course.nama}">Student Name</h3>
	       	<h3 th:text="'SKS = ' + ${course.sks}">Student GPA</h3>
       	</div>
    </body>
</html>
